<div class="wrapper">
    <h1>DateTimeFormat</h1>

    <section class="card">
        <header>
            <h2>new Intl.DateTimeFormat(locales, options).format()</h2>
        </header>

        <main>
            <table class="table table--horizontal">
                <tr>
                    <th>original</th>
                    <td colspan="2">{{ original }}</td>
                </tr>

                <tr>
                    <th>default</th>
                    <td>{{ enDefault }}</td>
                    <td dir="rtl">{{ faDefault }}</td>
                </tr>
            </table>
        </main>
    </section>

    <section class="card" *ngFor="let card of cards">
        <header>
            <h2>{{ card.key }}</h2>
        </header>

        <main>
            <table class="table table--horizontal">
                <tr *ngFor="let variant of card.variants">
                    <th>{{ variant }}</th>
                    <td>{{ format('en', card, variant) }}</td>
                    <td dir="rtl">{{ format('fa', card, variant) }}</td>
                </tr>
            </table>
        </main>
    </section>

    <section class="card">
        <header>
            <h2>new Intl.DateTimeFormat(locales, options).formatToParts()</h2>
        </header>

        <main>
            <table class="table table--horizontal">
                <tr>
                    <th>original</th>
                    <td colspan="2">{{ original }}</td>
                </tr>

                <tr>
                    <th>formatToParts</th>
                    <td class="preserve-whitespace" [innerHTML]="enFormatToParts | prettyJson"></td>
                    <td class="preserve-whitespace" [innerHTML]="faFormatToParts | prettyJson"></td>
                </tr>
            </table>
        </main>
    </section>
</div>
