<div class="wrapper">
    <h1>DateTimeFormat</h1>

    <section class="card">
        <header>
            <h2>new Intl.DateTimeFormat(locales, options)</h2>
        </header>

        <main>
            <table class="table table--horizontal">
                <tr>
                    <th>original</th>
                    <td colspan="2">{{ original }}</td>
                </tr>

                <tr>
                    <th>default</th>
                    <td>{{ enDefault }}</td>
                    <td dir="rtl">{{ faDefault }}</td>
                </tr>
            </table>
        </main>
    </section>

    <section class="card">
        <header>
            <h2>dateStyle</h2>
        </header>

        <main>
            <table class="table table--horizontal">
                <tr>
                    <th>short</th>
                    <td>{{ enDateStyleShort }}</td>
                    <td dir="rtl">{{ faDateStyleShort }}</td>
                </tr>
                <tr>
                    <th>long</th>
                    <td>{{ enDateStyleLong }}</td>
                    <td dir="rtl">{{ faDateStyleLong }}</td>
                </tr>
            </table>
        </main>
    </section>

    <section class="card">
        <header>
            <h2>timeStyle</h2>
        </header>

        <main>
            <table class="table table--horizontal">
                <tr>
                    <th>short</th>
                    <td>{{ enTimeStyleShort }}</td>
                    <td dir="rtl">{{ faTimeStyleShort }}</td>
                </tr>
                <tr>
                    <th>medium</th>
                    <td>{{ enTimeStyleMedium }}</td>
                    <td dir="rtl">{{ faTimeStyleMedium }}</td>
                </tr>
                <tr>
                    <th>long</th>
                    <td>{{ enTimeStyleLong }}</td>
                    <td dir="rtl">{{ faTimeStyleLong }}</td>
                </tr>
                <tr>
                    <th>full</th>
                    <td>{{ enTimeStyleFull }}</td>
                    <td dir="rtl">{{ faTimeStyleFull }}</td>
                </tr>
            </table>
        </main>
    </section>
</div>
