.card {
    footer {
        ul {
            list-style: inside;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                font-size: 1.4rem;
            }
        }
    }
}
