// FONT FACES
@font-face {
    font-family: 'Samim';
    src: local('Samim'), url(./assets/fonts/samim-font-v4.0.5/samim.woff2) format('woff2');
}

@font-face {
    font-family: 'Samim';
    src: local('Samim'), url(./assets/fonts/samim-font-v4.0.5/samim-medium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Samim';
    src: local('Samim'), url(./assets/fonts/samim-font-v4.0.5/samim-bold.woff2) format('woff2');
    font-weight: 700;
}

// VARIABLES
:root {
    --primary-hue: 220;
    --secondary-hue: 260;
    --success-hue: 120;
    --warning-hue: 20;
    --danger-hue: 0;

    --color--default-background: hsl(0, 0%, 98%);
    --color--default-foreground: hsl(0, 0%, 10%);

    --color--primary: hsl(var(--primary-hue), 100%, 60%);
    --color--primary-fade: hsl(var(--primary-hue), 100%, 94%);
    --color--primary-opposite: var(--color--default-background);

    --color--secondary: hsl(var(--secondary-hue), 50%, 50%);
    --color--secondary-fade: hsl(var(--secondary-hue), 100%, 90%);
    --color--secondary-opposite: var(--color--default-background);

    --color--warning: hsl(var(--warning-hue), 100%, 40%);
    --color--warning-fade: hsl(var(--warning-hue), 100%, 90%);
    --color--warning-opposite: var(--color--default-background);

    --color--success: hsl(var(--success-hue), 100%, 40%);
    --color--success-fade: hsl(var(--success-hue), 100%, 92%);
    --color--success-opposite: var(--color--default-background);

    --color--danger: hsl(var(--danger-hue), 100%, 30%);
    --color--danger-fade: hsl(var(--danger-hue), 100%, 90%);
    --color--danger-opposite: var(--color--default-background);

    --color--body-background: var(--color--default-background);
    --color--body-foreground: var(--color--default-foreground);

    --color--overlay-background: hsla(0, 0%, 0%, 0.94);
    --color--overlay-foreground: var(--color--default-background);

    --color--header-logo-background: transparent;
    --color--header-logo-foreground: inherit;
    --color--header-logo-background--hover: transparent;
    --color--header-logo-foreground--hover: hsl(var(--primary-hue), 100%, 60%);

    --color--nav-link-background: transparent;
    --color--nav-link-foreground: inherit;
    --color--nav-link-background--hover: hsl(var(--primary-hue), 0%, 94%);
    --color--nav-link-foreground--hover: var(--color--header-nav-foreground);
    --color--nav-link-background--active: var(--color--header-nav-background);
    --color--nav-link-foreground--active: var(--color--primary);
    --color--nav-link-background--active-hover: hsl(var(--primary-hue), 50%, 94%);
    --color--nav-link-foreground--active-hover: var(--color--header-nav-foreground--active);

    --color--footer-background: hsl(var(--primary-hue), 18%, 16%);
    --color--footer-foreground: var(--color--default-background);

    --color--border--fade: hsl(0, 0%, 80%);
    --color--separator: var(--color--border--fade);
    --color--input-border: var(--color--border--fade);

    --color--button-disabled-background: hsl(0, 0%, 70%);
    --color--button-disabled-foreground: var(--color--default-foreground);

    --color--popper-background: hsl(0, 0%, 20%);
    --color--popper-foreground: var(--color--default-background);

    --color--box-shadow--subtle: hsla(0, 0%, 10%, 12%);
    --box-shadow--subtle: 0 0.2rem 0.5rem 0 var(--color--box-shadow--subtle);

    --full-width: 120rem;
    --full-width-padding-inline: calc(max(100% - var(--full-width), 4rem) / 2);

    --shell--padding: 2rem;

    --animation--duration--fast: 0.1s;
    --animation--duration--normal: 0.5s;
    --animation--duration--slow: 1s;

    &.theme--dark {
        --color--default-background: hsl(0, 0%, 10%);
        --color--default-foreground: hsl(0, 0%, 90%);

        --color--primary: hsl(var(--primary-hue), 100%, 70%);

        --color--border--fade: hsl(0, 0%, 30%);

        --color--box-shadow--subtle: hsla(0, 0%, 0%, 50%);
    }
}

// RESET
*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    //font-size: 62.5%;
    font-family: Quicksand, Samim, Consolas, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: inherit;

    text-decoration: none;
}

button {
    padding: 0.75rem 1.5rem;

    border: none;
    border-radius: 999rem;

    &:not([disabled]) {
        cursor: pointer;

        &:hover {
            filter: brightness(90%);
        }
    }

    &[disabled] {
        background-color: var(--color--button-disabled-background) !important;
        color: var(--color--button-disabled-foreground) !important;
    }
}

input {
    &:focus {
        outline: none;
    }

    &[type='file'] {
        display: none;
    }
}

svg {
    fill: currentColor !important;

    display: block;

    width: 1em !important;
    height: 1em !important;
}

// MAIN
body {
    background-color: var(--color--body-background);
    color: var(--color--body-foreground);

    width: 100%;

    padding-inline: var(--full-width-padding-inline);

    font-size: 1.6rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 4rem);
}

form {
    --gap: 1.2rem;

    label {
        display: flex;
        flex-direction: column;

        min-width: 23ch;

        input {
            padding: 0.5rem;

            border: 1px solid var(--color--input-border);
            border-radius: 0.3rem;
        }
    }

    button {
        &[type='submit'] {
            background-color: var(--color--primary);
            color: var(--color--primary-opposite);
        }
    }

    &.vertical {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap);

        width: max-content;
    }

    &.horizontal {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: var(--gap);
    }
}

.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-weight: 700;

    &--regenerate {
        background-color: var(--color--danger-fade);
        color: var(--color--danger);
    }

    &--download {
        background-color: var(--color--success-fade);
        color: var(--color--success);
    }

    &--upload {
        background-color: var(--color--warning-fade);
        color: var(--color--warning);
    }
}

.table {
    display: table;

    width: 100%;

    border-collapse: collapse;

    &,
    th,
    td {
        border: 1px solid var(--color--border--fade);
    }

    th,
    td {
        padding: 1rem;
    }

    &--horizontal {
    }
}

.card {
    box-shadow: var(--box-shadow--subtle);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 2rem;

    header {
    }

    main {
    }
}

.preserve-whitespace {
    white-space: pre;
}
