<aside>
    <nav>
        <ul>
            <li><a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a routerLinkActive="active" routerLink="/collator">Collator</a></li>
            <li><a routerLinkActive="active" routerLink="/date-time-format">DateTimeFormat</a></li>
            <li><a routerLinkActive="active" routerLink="/list-format">ListFormat</a></li>
            <li><a routerLinkActive="active" routerLink="/number-format">NumberFormat</a></li>
            <li><a routerLinkActive="active" routerLink="/relative-time-format">RelativeTimeFormat</a></li>
        </ul>
    </nav>
</aside>
